@charset "utf-8";
/*样式重置开始*/
body,div,ul,li,dl,dd,ol,h1,h2,h3,p,input,img,textarea{margin:0;padding:0;font-size:13px;}
a,img{border:0;text-decoration:none;}
a:hover {text-decoration:underline;}
ul{list-style:none;}

/*样式重置结束*/

#box{width:1000px;height:800px;margin:0 auto;border:15px solid #E8E8E8;position:relative;}
.main{height:650px;display:none;}

/*头部样式开始*/
#header{height:100px;}
#header .hTop{height:70px;text-align:center;background:url(../img/headTop.jpg)}
#header .hTop strong{font:bold 40px/70px Arial,sans-serif;color:white;letter-spacing:35px }
#header .nav{background:#C6DDFB}
#header ul{height:30px;}
#header li,#header li a{float:left;}
#header li a{line-height:30px;font:16px/30px Arial,sans-serif;letter-spacing:5px;padding:0px 30px;}

#header li a:visited{color:#888888;}
#header li a:hover{color:red;background:#3366FF;border-radius:15px;cursor:pointer}
.active{color:white;background:#666666;border-radius:15px;}
/*头部样式结束*/

/*中部选项卡1样式开始*/

.mainInfo .left{width:203px;height:650px;background:#254665;position:relative;float:left;}
.mainInfo .left .photo{width:145px;height:190px;position:absolute;left:29px;top:25px;}
.mainInfo .left .myInfo{position:absolute;left:9px;top:215px;color:white;font-weight:bold; }
.mainInfo .left .myInfo li{margin:11px 9px;}
.mainInfo .left .myInfo h2{margin-top:38px;font-size:16px;}

.mainInfo .right{width:797px;height:650px;position:relative;color:#004398;float:right;}
.right .info{position:absolute;left:50px;top:10px;}
.info h2{font-size:18px;margin-top:8px;margin-bottom:-1px;}
.info h3{font-size:15px;margin-top:3px;margin-bottom:-3px;}
.info p{width:700px;margin-top:4px;margin-bottom:1px;line-height:20px;}


.mainInfo .right #line{height:2px;background:#004398;}
/*中部选项卡1样式结束*/

/*中部选项卡2样式开始*/
.mainProject{width:1000px;height:650px;clear:both;}
.mainProject #mainProjectTop{width:1000px;height:380px;background:#0099FF;position:relative;}
.mainProject #mainProjectTop .textB{width:600px;height:380px;display:inline-block;position:absolute;margin:4px 0 5px 3px;}
.mainProject #mainProjectTop .textB .btnB{display:inline-block;}
.mainProject #mainProjectTop .textB .btnB input{width:283px;height:22px;margin:5px;display:inline-block;}
.mainProject #mainProjectTop .textB .btnB div{width:283px;height:22px;margin:5px;display:inline-block;border:1px solid black;line-height:22px;text-align:center;background:#FFFFFF;}


.mainProject #mainProjectTop .textB p{width:568px;border:8px solid #C9C3C6;line-height:20px;margin-left:5px;margin-top:3px;font-size:13px;}
	/*仿新浪微博开始*/
#chatBox{width:390px;height:380px;display:inline-block;position:absolute;right:0;margin-top:10px;}
#chatBoxUl{width:380px;height:245px;border:1px solid black;overflow:hidden;}
#chatBoxUl div{border-bottom:1px dashed #000000;padding:5px;filter:alpha(opacity:10);opacity:0.1;word-wrap:break-word;line-height:25px;}
#chatBox textarea{resize:none;width:380px;height:70px;overflow:hidden;margin-bottom:5px;}
#chatBox strong{color:red;}
	/*仿新浪微博结束*/
	/*无缝滚动开始*/
#slideShow{width:1000px;height:270px;position:relative;background:red;padding-top:25px;padding-bottom:25px;}
.mainProject #relDiv{width:640px;height:220px;position:relative;margin:0 auto;overflow:hidden;}
.mainProject #relDiv ul{position:absolute;left:0;top:0px;width:1280px;}
#relDiv li{width:160px;height:220px;float:left;}
.mainProject #slideShow #pre{width:60px;height:60px;position:absolute;background:url(../img/btn.gif) no-repeat;left:120px;top:105px;z-index:2;}
.mainProject #slideShow #next{width:60px;height:60px;position:absolute;background:url(../img/btn.gif) no-repeat 0 -60px;right:120px;top:105px;}	
	/*无缝滚动结束*/
/*中部选项卡2样式结束*/



/*中部选项卡3样式开始*/
.mainMove{}
.anyValue{height:150px;background:#CCCCCC;padding:5px}
#wid,#hei,#opa,#fon,#all{width:80px;height:80px;border:3px solid #000000;background:red;;text-align:center;line-height:80px;padding:3px;filter:alpha(opacity=90);opacity:0.9;margin:20px 20px auto 30px;float:left;}
#jq1{width:10px;height:80px;border:3px solid #000000;background:red;;text-align:center;line-height:80px;padding:3px;float:left;margin:20px 0 auto 30px;}
#jq2{width:80px;height:80px;border:3px solid #000000;background:red;;text-align:center;line-height:80px;padding:3px;float:left;margin:20px 0 auto 30px;}
#jq3{width:10px;height:80px;border:3px solid #000000;background:red;;text-align:center;line-height:80px;padding:3px;float:left;margin:20px 0 auto 30px;}

		/*图片轮换播样式开始*/
.play{width:400px;height:430px;margin-top:25px;background:#999999;margin:25px auto;}
.bigPic{width:400px;height:320px;position:relative;overflow:hidden;}
.bigPic li{width:400px;height:320px;position:absolute;top:0;left:0;z-index:0;background:url(../img/loading.gif) no-repeat center center;overflow:hidden;}
.maskLeft{width:200px;height:320px;position:absolute;top:0;left:0;z-index:2000;filter:alpha(opacity:0);opacity:0;cursor:default;}
.maskRight{width:200px;height:320px;position:absolute;top:0;right:0;z-index:2000;filter:alpha(opacity:0);opacity:0;cursor:default;}

.bigPic .pre{width:60px;height:60px;background:url(../img/btn.gif) no-repeat;position:absolute;top:130px;left:10px;z-index:2001;filter:alpha(opacity:0);opacity:0;cursor:pointer;}
.bigPic .next{width:60px;height:60px;background:url(../img/btn.gif) no-repeat 0 -60px;position:absolute;top:130px;right:10px;z-index:2001;filter:alpha(opacity:0);opacity:0;cursor:pointer;}
.bigPic .text{position:absolute;left:10px;top:300px;z-index:2000;color:#ccc;font-weight:bold;font-size:15px;}
.bigPic .num{position:absolute;right:10px;top:300px;z-index:2000;color:#ccc;font-size:15px;}
.bigPic .bg{width:400px;height:20px;background:black;position:absolute;bottom:0;left:0;filter:alpha(opacity:60);opacity:0.6;z-index:1999;}

.smallPic{width:380px;height:96px;position:relative;left:10px;top:7px;overflow:hidden;}
.smallPic ul{height:96px;position:absolute;top:0;left:0;width:780px}
.smallPic li{width:120px;height:96px;float:left;padding-right:10px;background:url(../img/loading.gif) no-repeat center center;cursor:pointer;filter:alpha(opacity:60);opacity:0.6;}
.smallPic img{width:120px;height:96px;}
		/*图片轮换播样式结束*/
		/*链式弹窗开始*/
mainMove{height:650px;}
.page{position:fixed;_position:absolute;right:0;bottom:0;}
.page #bottom{width:203px;height:50px;background:url(../img/minibar.png) no-repeat 0 0;position:absolute;right:-165px;bottom:0;z-index:2001;}
.page #nav{width:125px;height:22px;margin:5px 0 0 43px;}
.page #nav li{width:25px;float:left;}
.page #nav li a{height:22px;width:25px;display:block;}
.page #nav li a:hover{background:url(../img/minibar.png) no-repeat 0 -51px;}
.page #nav .li1 a:hover{background-position:-25px -51px}
.page #nav .li2 a:hover{background-position:-50px -51px}
.page #nav .li3 a:hover{background-position:-75px -51px}
.page #nav .li4 a:hover{background-position:-100px -51px}
.page .text{width:160px;height:16px;color:#FFFFFF;margin:4px 0 0 8px;overflow:hidden;}
.page #btn{width:33px;height:50px;position:absolute;right:0;bottom:0;display:block;z-index:2002;}
.page .butHide{background:url(../img/minibar.png) no-repeat -170px 0;}
.page .butHide:hover{background-position:-203px 0;}
.page .butShow{background:url(../img/minibar.png) no-repeat -236px 0;}
.page .butShow:hover{background-position:-269px 0;}
.page #top{width:200px;height:315px;padding:0 0 48px;position:absolute;right:1px;bottom:-315px;z-index:2000;display:none;}
.page .bg{width:200px;height:315px;background:url(../img/mini_jpgs.jpg) no-repeat 0 0;opacity:0.9;filter:alpha(opacity:90);position:absolute;right:0;top:0;}
.page .nav2_bg{width:34px;height:176px;position:absolute;left:0;bottom:48px;background:url(../img/mini_jpgs.jpg) no-repeat 0 -139px;}
.page #list{width:34px;height:139px;background:url(../img/minibar.png) no-repeat scroll 0 -255px;position: absolute;left: 0;top: 2px;}
.page #list a{height:27px;line-height:25px;color:#FFFFFF;text-align:center;text-decoration:none;display:block;}
.page #list .show{color: #FF9900;}
.page #list a:hover{color:#FFFF00;}
.page .close{width:9px;height:9px;background:url(../img/minibar.png) no-repeat 0 -76px ;cursor:pointer;position:absolute;right:10px;top:14px;}
.page .topRight{width:150px;height:285px;color:#FFFFFF;overflow:hidden;position:absolute;right:6px;top:28px;}
	/*链式弹窗结束*/


/*中部选项卡3样式结束*/

/*中部选项卡4样式开始*/
#photo{width:1000px;height:400px;background:#999999;}
#rotate{width:1000px;height:250px;background:#CC9999;}
#photo h1{text-align:center;line-height:28px;font-size:28px;}
#photo .container{width:960px;height:350px;margin:10px auto;position:relative;}
#photo img{height:130px;padding:5px 5px 10px;background:white;border:1px solid #666666;position:absolute;transition:0.5s;z-index:1;}
#photo img:hover{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform:scale(1.5);-moz-transform:scale(1.5);transform:scale(1.5);box-shadow:8px 8px 15px #666666;z-index:2;}
#photo .img1{left:30px;top:20px;-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg);transform:rotate(20deg);}
#photo .img2{left:70px;top:160px;-webkit-transform:rotate(-25deg);-moz-transform:rotate(-25deg);transform:rotate(-25deg);}
#photo .img3{left:690px;top:160px;-webkit-transform:rotate(-29deg);-moz-transform:rotate(-29deg);transform:rotate(-29deg);}
#photo .img4{left:190px;top:50px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);}
#photo .img5{left:490px;top:170px;-webkit-transform:rotate(38deg);-moz-transform:rotate(38deg);transform:rotate(38deg);}
#photo .img6{left:380px;top:25px;-webkit-transform:rotate(-28deg);-moz-transform:rotate(-28deg);transform:rotate(-28deg);}
#photo .img7{left:580px;top:15px;-webkit-transform:rotate(33deg);-moz-transform:rotate(33deg);transform:rotate(33deg);}
#photo .img8{left:810px;top:175px;-webkit-transform:rotate(-41deg);-moz-transform:rotate(-41deg);transform:rotate(-41deg);}
#photo .img9{left:250px;top:170px;-webkit-transform:rotate(-28deg);-moz-transform:rotate(-28deg);transform:rotate(-28deg);}
#photo .img10{left:750px;top:30px;-webkit-transform:rotate(43deg);-moz-transform:rotate(43deg);transform:rotate(43deg);}

.mainCss3{clear:both;}
#rotate{padding:10px 0 0}
#my3d{-webkit-perspective:800;-webkit-perspective-origin:50% 50%;overflow:hidden;}
#pageGroup{width:200px;height:200px;margin:5px auto;-webkit-transform-style:preserve-3d;position:relative;}
#pageGroup .page{width:200px;height:200px;background:black;color:white;font-size:200px;line-height:200px;font-weight:bold;text-align:center;position:absolute;}
#page1{-webkit-transform-origin:bottom;-webkit-transition:-webkit-transform 1s linear;-moz-transform-origin:bottom;-moz-transition:-webkit-transform 1s linear;transform-origin:bottom;transition:-webkit-transform 1s linear;}
#page2,#page3,#page4,#page5,#page6{-webkit-transform-origin:bottom;-webkit-transition:-webkit-transform 1s linear;-webkit-transform:rotateX(90deg);-moz-transform-origin:bottom;-moz-transition:-moz-transform 1s linear;-moz-transform:rotateX(90deg);transform-origin:bottom;transition:transform 1s linear;transform:rotateX(90deg);}
#btnPage{height:20px;margin:0 auto;text-align:center}





/*中部选项卡4样式结束*/
/*中部选项卡5样式开始*/
.mainGame{}
.all_bg{position:relative;width:800px;height:600px;float:left;background:url(../src/background.jpg) no-repeat;}
#canvas1{position:absolute;top:0;left:0;z-index:1;}
#canvas2{position:absolute;top:0;left:0;z-index:0;}
#title{height:50px;line-height:50px;background:#0064B9;text-align:center;font-size:24px;color:#002C63;}
#gameRight{width:200px;height:600px;background:#CCCCCC;display:inline-block;float:right;}
#gameRight input{width:200px;height:50px;font-size:22px;color:red;}
#gameRight #gameDescription{padding:5px;}
#gameRight h3{font-size:16px;margin-top:5px;margin-bottom:10px;}
#gameRight span{line-height:25px;font-size:13px;color:#004276;}
/*中部选项卡5样式结束*/

/*底部样式*/
#footer{width:975px;height:50px;background:url(../img/footBg.jpg);line-height:50px;font-size:20px;text-align:left; position:relative;padding-left:25px;}
#footer span{text-align:right;position:absolute;right:25px;}

